In [14]:
import pandas as pd

In [15]:
df_100 = pd.read_csv('../datasets/web_testing/Data Signal B2 & B4 - 100.csv')
df_200 = pd.read_csv('../datasets/web_testing/Data Signal B2 & B4 - 200.csv')
df_300 = pd.read_csv('../datasets/web_testing/Data Signal B2 & B4 - 300.csv')

In [16]:
df_100.head()

,userName,score,at,content
0,Dede Habiel,2,2023-12-27 9:13:14,Ribet di verifikasi...lama udah ngedip berkali...
1,Munyati Sulam Alnur,2,2023-12-26 6:26:59,Pertama kali coba bayar bisa tp mau bayar yg k...
2,Gambus Jaya,2,2023-12-23 8:32:46,perbaiki pelayanan buat respon kl bisa max 2 h...
3,EkotarU,2,2023-12-23 7:35:17,Buruk untuk verifikasi data diri dan yang utam...
4,Doni Akbar Munthe,2,2023-12-21 9:45:55,"Data sudah lengkap, tinggal masuk ke ""Konfirma..."

In [17]:
def process_dataset(data):
    data['review'] = data['content']
    data = data.drop(["userName", "score", "at", "content"], axis=1)
    
    return data

In [18]:
df_100 = process_dataset(df_100)
df_200 = process_dataset(df_200)
df_300 = process_dataset(df_300)

In [19]:
df_100.head()

                                              review
0  Ribet di verifikasi...lama udah ngedip berkali...
1  Pertama kali coba bayar bisa tp mau bayar yg k...
2  perbaiki pelayanan buat respon kl bisa max 2 h...
3  Buruk untuk verifikasi data diri dan yang utam...
4  Data sudah lengkap, tinggal masuk ke "Konfirma...

In [ ]:
df_100.to_csv('../datasets/web_testing/dataset_100.csv', index=False)
df_200.to_csv('../datasets/web_testing/dataset_200.csv', index=False)
df_300.to_csv('../datasets/web_testing/dataset_300.csv', index=False)